<div id="home">
    <!-- Apresentação -->
    <div class="col-10 container-fluid my-5">
        <div class="row m-4">
            <div class="col-xs-12 col-sm-6 col-md-5 text-center">
                <a href="https://www.linkedin.com/in/dayanaviferreira/" target="_blank" title="Linkedin">
                    <img src="../imagens/dayana_apresentacao.jpg" class="rounded img-thumbnail border-info p-2"
                    style="max-width: 300px;">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 mt-3 align-self-center text-left">
                <h1 class="display-4">
                    <i class="fa fa-paper-plane text-primary" aria-hidden="true"></i>
                    Dayana V. Ferreira - Pedagoga, Redatora
                </h1>
                <div class="col-sm-12 align-self-center">
                    <p class="lead text-justify">Pedagoga (2015) e Especialista no Ensino de Filosofia para o Ensino Médio (2019).  Pós-graduanda em Inspeção, Supervisão e Orientação pedagógica; especializando-se em Grafoscopia.</p>
                    <p class="lead text-justify">Iniciei minha jornada na educação, como docente dos anos finais do Ensino Fundamental I em 2012. Desde então, minhas experiências, nesse ciclo de ensino, foram significativas tanto na rede pública, como no setor privado.
                    Obtive notória experiência como docente no curso de formação de educadores para a educação infantil (Magistério). Ministrado pela rede pública estadual de ensino de Minas Gerais (2016 - 2019).
                    Também como acúmulo de conhecimento e enriquecimento de capital intelectual, atuei como redatora e autora do material didático "Humanidades",  voltado para o ensino de filosofia e sociologia nos anos finais do Ens. Fund. I. (Rede Cenec de Uberaba, 2019).</p>
                    <p class="lead text-justify">Como vivência social, participei ativamente em campanhas de doação de livros para crianças carentes. Entre demais ações sociais, a cooperação adjunta com a moradora 'Chiquita' para a realização do "Dia das Crianças" da comunidade Vila Esperança na cidade de Uberaba MG.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send</h5>
                    <button type="buttom" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h5>Obrigado pelo contato!</h5>
                                <label id="return"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalClose" type="button" class="btn btn-danger" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-5">
        <blockquote class="blockquote text-center">
            <p class="lead text-muted"><em><small>"A nossa mais elevada tarefa deve ser a de formar seres humanos livres que sejam capazes de, por si mesmos, encontrar propósito e direção para suas vidas."</small></em></p>
            <footer class="blockquote-footer ">Rudolf Steiner <cite title="Source Title">filósofo, educador, artista e esoterista.</cite></footer>
        </blockquote>
    </div>
</div>